{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>

        <hr/>
        {{ loaded_data | safe }}
        <script>
            $(document).ready(function () {
                var table = document.getElementById("outerTable");
                var cells = table.getElementsByTagName('th');
                $(function () {
                    $("tr").each(function () {
                        //this is where I create/add the dropdown menu to the table//
                        var combo = '<select>' +
                            {%  for predict in predicte_data %}
                                '<option>' + "{{ predict | safe }}" +'</option>'+
                            {% endfor %}
                            '</select>'
                        $(this).find("td:eq(0)").html(combo)

                    });
                });
            });
        </script>
    </form>
    <hr/>
    <div align="center">
        <form action="{{ url }}">
            <input type="submit" value="Download">
        </form>
    </div>

{% endblock %}